<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" id="empreza" href="#">Company name</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <div class="navbar-nav">
          <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#">Sair</a>
          </div>
        </div>
      </header>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        // axios.get('https://ecomerce-back.herokuapp.com/user').then(user => {
        //     if (user.data != undefined) {
        //         aUser = document.getElementById('user');
        //         aUser.innerHTML = `[${user.data.id}] ${user.data.login}`;
        //         edit = document.getElementById('edit');
        //         edit.href = "/admin/usuario/editar/" + user.data.id
        //         if (user.data.foto != undefined) {
        //             img = document.getElementById("img");
        //             img.src = user.data.foto
        //         }
        //     }
        // })
        axios.get('https://ecomerce-back.herokuapp.com/empresa').then(empresa => {
            if (empresa.data != undefined) {
                var span = document.getElementById("empreza")
                span.innerHTML = empresa.data.nome
            }
        })
        function busca() {
            var buscar = document.getElementById("pesquisa")
            if (buscar.value == '' || buscar.value == undefined) {
                alert("Digite o que deseja pesquisar!")
            } else {
                axios.post("https://ecomerce-back.herokuapp.com/find", { busca: buscar.value }).then(busca => {
                    if (busca.data != undefined) {
                        window.location.href = "/admin/produto/busca/" + busca.data;
                    } else {
                        alert("Busca inválida ou produto não encontrado")
                    }
                }).catch(err => {
                    console.log(err)
                })
            }
        }

    </script>
    