<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="input-group">
                    <a class="navbar-brand" href="/">
                        <img src="/img/icon.png"  id="logo" width="40" height="34" class="d-inline-block align-top">
                        <span id="empreza"></span> 
                    </a>
                    <a href="/admin/categorias" class="btn btn-primary">Categoria</a>
                    <a href="/admin/grades" class="btn btn-primary">Grade</a>
                    <a href="/admin/produtos" class="btn btn-primary">Produtos</a>
                    <a href="/admin/estoques" class="btn btn-primary">Estoque</a>
                    <a href="/admin/usuarios" class="btn btn-primary">Usuario</a>

                </div>
                <div class="d-flex">
                    <button class="btn btn-success me-2" type="button" id="user">Usuario</button>
                </div>
                <div class="personal-imageNav">
                    <label class="label">
                        <figure class="personal-figureNav">
                            <img src="/img/avatar.jpg" class="personal-avatarNav" id="img" alt="avatar">
                        </figure>
                    </label>
                </div>
            </div>

        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        axios.get('http://localhost:8080/user').then(user => {
            if (user.data != undefined) {
                button = document.getElementById('user');
                button.innerHTML = user.data.login;
                img = document.getElementById("img");
                img.src = user.data.foto
            }
        })
        axios.get('http://localhost:8080/empresa').then(empresa =>{
            if (empresa.data != undefined) {
                var logo = document.getElementById("logo")
                logo.src = empresa.data.logo
                var span = document.getElementById("empreza")
                span.innerHTML = empresa.data.nome
            }
        })
    </script>