<body>  
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="input-group">
        <a class="navbar-brand" href="/">
            <img src="/img/icon.png" alt="" width="30" height="24" class="d-inline-block align-top">
            Ecomerce
        </a>
    <a href="/admin/categorias" class="btn btn-primary">Categoria</a>
    <a href="/admin/grades" class="btn btn-primary">Grade</a>
    <a href="/admin/produtos" class="btn btn-primary">Produtos</a>
    <a href="/admin/estoques" class="btn btn-primary">Estoque</a>
    <a href="/admin/usuarios" class="btn btn-primary">Usuario</a>
    </div>
</nav>
    