<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/loginGif.css">
    <title>ecomerce</title>
</head>
<body>
    
    <div class="container">
        <br>
        <div class="card position-absolute top-50 start-50 translate-middle text-white bg-primary mt-5 col-md-4">
            <div class="card-header">
                <h2 class="col-md-2 mx-auto">Login</h2>
            </div>
            <div class="card-body mx-center">

                <form action="/autenticar" method="POST">

                    <div class="col-md-8 mx-auto">
                        <label for="login" class="form-label">Login</label>
                        <input type="text" class="form-control" name="login" id="login" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <br>
                    <div class="col-md-8 mx-auto">
                        <label for="senha" class="form-label">Senha</label>
                        <input type="password" class="form-control" name="senha" id="Senha" placeholder="*****"
                            aria-label="Senha" aria-describedby="basic-addon2">
                    </div>
                    <br>
                    <div class="col-md-4 mx-auto">
                        <button class="btn btn-dark text-white form-control" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>
<%- include('../../partials/footer.ejs')%>