<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>

            <div class="container">
                <hr>
                <div class="card mt-5">
                    <div class="card-header">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body mx-auto">

                        <form action="/autenticar" method="POST">
                            
                            <div class="input-group-prepend">
                                <input type="text" class="mr-sm-2" name="login" placeholder="Username"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <br>
                            <div class="input-group-prepend">
                                <input type="password" class="mr-sm-2" name="senha" placeholder="Senha"
                                    aria-label="Senha" aria-describedby="basic-addon2">
                            </div>
                            <hr>

                            <div class="card-footer mx-6">
                                <button class="btn btn-primary form-control" type="submit">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
    </body>
    <%- include('../../partials/footer.ejs')%>
