<%- include('./partials/head.ejs')%>

    <%- include('./partials/nav.ejs')%>
    <br>

    <hr>
    <a href="/admin/categorias" class="btn btn-primary">Categoria</a>
    <a href="/admin/grades" class="btn btn-primary">Grade</a>
    <a href="/admin/produtos" class="btn btn-primary">Produtos</a>
        <%- include('./partials/footer.ejs')%>