<%- include('./partials/head.ejs')%>

    <%- include('./partials/nav.ejs')%>


        <%- include('./partials/navegador.ejs')%>


            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <div class="input-group-text">
                            <span data-feather="calendar"></span>
                        </div>
                        <select onchange="alteraInput(this.value)"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <option value="S">Semana</option>
                            <option value="M">Mês</option>
                            <option value="A"selected>Ano</option>
                        </select>
                       
                    </div>
                    <input type="text" class="btn btn-sm" placeholder="Insira o ano, ex: 2022" value="2022" id="l">
                </div>
            </div>
            <script>
                function alteraInput(tipo) {
                    
                }
            </script>

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>random</td>
                            <td>data</td>
                            <td>placeholder</td>
                            <td>text</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>placeholder</td>
                            <td>irrelevant</td>
                            <td>visual</td>
                            <td>layout</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>data</td>
                            <td>rich</td>
                            <td>dashboard</td>
                            <td>tabular</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>information</td>
                            <td>placeholder</td>
                            <td>illustrative</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>text</td>
                            <td>random</td>
                            <td>layout</td>
                            <td>dashboard</td>
                        </tr>
                        <tr>
                            <td>1,005</td>
                            <td>dashboard</td>
                            <td>irrelevant</td>
                            <td>text</td>
                            <td>placeholder</td>
                        </tr>
                        <tr>
                            <td>1,006</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                            <td>rich</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,007</td>
                            <td>placeholder</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>irrelevant</td>
                        </tr>
                        <tr>
                            <td>1,008</td>
                            <td>random</td>
                            <td>data</td>
                            <td>placeholder</td>
                            <td>text</td>
                        </tr>
                        <tr>
                            <td>1,009</td>
                            <td>placeholder</td>
                            <td>irrelevant</td>
                            <td>visual</td>
                            <td>layout</td>
                        </tr>
                        <tr>
                            <td>1,010</td>
                            <td>data</td>
                            <td>rich</td>
                            <td>dashboard</td>
                            <td>tabular</td>
                        </tr>
                        <tr>
                            <td>1,011</td>
                            <td>information</td>
                            <td>placeholder</td>
                            <td>illustrative</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,012</td>
                            <td>text</td>
                            <td>placeholder</td>
                            <td>layout</td>
                            <td>dashboard</td>
                        </tr>
                        <tr>
                            <td>1,013</td>
                            <td>dashboard</td>
                            <td>irrelevant</td>
                            <td>text</td>
                            <td>visual</td>
                        </tr>
                        <tr>
                            <td>1,014</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                            <td>rich</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>text</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <%- include('./partials/footer.ejs')%>
            
                <script>


                        var data = {
                            labels:[],
                            datasets:[
                                {
                                    data:[],
                                    label: "Autorizadas",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#007bff',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#007bff'
                                },
                                {
                                    data: [],
                                    label: "Pendentes",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#ffff40',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#ffff40'
                                },
                                {
                                    data: [],
                                    label: "Canceladas",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#f34336',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#f34336'
                                }
                            ]
                        }

                    addEventListener(onload,alterarDashboard('A',2022,data))


                    function alterarDashboard(tipo,valor,data) {
                        axios.get(`/relatorioVendas/${tipo}/${valor}`).then(resp =>{
                            if (resp.data.erro == undefined) {
                                var dados = resp.data.dados
                                for(var x= 0;x<dados.labels.length;x++){
                                    data.labels[x] = dados.labels[x]
                                }

                                data.labels.forEach(dataLabel =>{
                                    var autorizados = []
                                    var pendentes = []
                                    var rejeitados = []
                                    dados.autorizados.forEach(da =>{
                                        if (da.data == dataLabel) {
                                            autorizados.push(da)
                                        }
                                    })
                                    dados.pendentes.forEach(dp =>{
                                        if (dp.data == dataLabel) {
                                            pendentes.push(dp)
                                        }
                                    })
                                    dados.rejeitados.forEach(dr =>{
                                        if (dr.data == dataLabel) {
                                            rejeitados.push(dr)
                                        }
                                    })
                                    data.datasets[0].data.push(autorizados.length)
                                    data.datasets[1].data.push(pendentes.length)
                                    data.datasets[2].data.push(rejeitados.length)
                                })
                                console.log(data)

                            } else {
                                alert(resp.data.erro)
                            }
                            dashBoard(data)
                        })
                           
                    }
                    function dashBoard(data) {
                        (function () {
                            'use strict'
                            feather.replace({ 'aria-hidden': 'true' })

                            // Graphs
                            var ctx = document.getElementById('myChart')
                            // eslint-disable-next-line no-unused-vars
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: false
                                            }
                                        }]
                                    },
                                    legend: {
                                        display: false
                                    }
                                }
                            })

                        })()
                    }

                </script>