<%- include('./partials/head.ejs')%>

    <%- include('./partials/nav.ejs')%>


        <%- include('./partials/navegador.ejs')%>


            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group me-2">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
                    </div>
                    <div class="btn-group">
                        <div class="input-group-text">
                            <span data-feather="calendar"></span>
                        </div>
                        <select onchange="alterarDashboard(this.value)"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <option value="2" selected>Essa Semana</option>
                            <option value="3">Esse Mês</option>
                            <option value="4">Esse Ano</option>
                        </select>
                    </div>
                </div>
            </div>

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                            <th scope="col">Header</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1,001</td>
                            <td>random</td>
                            <td>data</td>
                            <td>placeholder</td>
                            <td>text</td>
                        </tr>
                        <tr>
                            <td>1,002</td>
                            <td>placeholder</td>
                            <td>irrelevant</td>
                            <td>visual</td>
                            <td>layout</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>data</td>
                            <td>rich</td>
                            <td>dashboard</td>
                            <td>tabular</td>
                        </tr>
                        <tr>
                            <td>1,003</td>
                            <td>information</td>
                            <td>placeholder</td>
                            <td>illustrative</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,004</td>
                            <td>text</td>
                            <td>random</td>
                            <td>layout</td>
                            <td>dashboard</td>
                        </tr>
                        <tr>
                            <td>1,005</td>
                            <td>dashboard</td>
                            <td>irrelevant</td>
                            <td>text</td>
                            <td>placeholder</td>
                        </tr>
                        <tr>
                            <td>1,006</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                            <td>rich</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,007</td>
                            <td>placeholder</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>irrelevant</td>
                        </tr>
                        <tr>
                            <td>1,008</td>
                            <td>random</td>
                            <td>data</td>
                            <td>placeholder</td>
                            <td>text</td>
                        </tr>
                        <tr>
                            <td>1,009</td>
                            <td>placeholder</td>
                            <td>irrelevant</td>
                            <td>visual</td>
                            <td>layout</td>
                        </tr>
                        <tr>
                            <td>1,010</td>
                            <td>data</td>
                            <td>rich</td>
                            <td>dashboard</td>
                            <td>tabular</td>
                        </tr>
                        <tr>
                            <td>1,011</td>
                            <td>information</td>
                            <td>placeholder</td>
                            <td>illustrative</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,012</td>
                            <td>text</td>
                            <td>placeholder</td>
                            <td>layout</td>
                            <td>dashboard</td>
                        </tr>
                        <tr>
                            <td>1,013</td>
                            <td>dashboard</td>
                            <td>irrelevant</td>
                            <td>text</td>
                            <td>visual</td>
                        </tr>
                        <tr>
                            <td>1,014</td>
                            <td>dashboard</td>
                            <td>illustrative</td>
                            <td>rich</td>
                            <td>data</td>
                        </tr>
                        <tr>
                            <td>1,015</td>
                            <td>random</td>
                            <td>tabular</td>
                            <td>information</td>
                            <td>text</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <%- include('./partials/footer.ejs')%>
            
                <script>
                    addEventListener(onload,alterarDashboard(1))

                    var data = {
                            labels:[],
                            datasets:[{
                                data:[],
                                label: "Autorizadas",
                                lineTension: 0,
                                backgroundColor: 'transparent',
                                borderColor: '#007bff',
                                borderWidth: 4,
                                pointBackgroundColor: '#007bff'
                            },{
                                data: [],
                                label: "Pendentes",
                                lineTension: 0,
                                backgroundColor: 'transparent',
                                borderColor: '#ffff40',
                                borderWidth: 4,
                                pointBackgroundColor: '#ffff40'
                            },{
                                data: [],
                                label: "Canceladas",
                                lineTension: 0,
                                backgroundColor: 'transparent',
                                borderColor: '#f34336',
                                borderWidth: 4,
                                pointBackgroundColor: '#f34336'
                            }]
                        }

                    function alterarDashboard(valor) {
                        
                        /* globals Chart:false, feather:false */
                        if (valor == 1) {
                            axios.get(`/relatorioVendas/${valor}`).then(resp =>{
                                if (resp.data.erro != undefined) {
                                    var dados = resp.dados.data
                                    for(var x= 0;x<dados.labels.length;x++){
                                        data.labels[x] = dados.labels[x]
                                    }
                                    for(var y = 0; y<dados.autorizados.length;y++){
                                        data.datasets[0].data[y] = dados.autorizados[y]
                                    }
                                    for(var z = 0; z<dados.pendentes.length;z++){
                                        data.datasets[1].data[z] = dados.pendentes[z]
                                    }
                                    for(var k = 0; k<dados.rejeitados.length;k++){
                                        data.datasets[2].data[k] = dados.rejeitados[k]
                                    }
                                } else {
                                    alert(resp.data.erro)
                                }
                            })
                        } else {
                            
                        }
                        (function () {
                            'use strict'
                            feather.replace({ 'aria-hidden': 'true' })

                            // Graphs
                            var ctx = document.getElementById('myChart')
                            // eslint-disable-next-line no-unused-vars
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [
                                        '01/09',
                                        '02/09',
                                        '03/09',
                                        '04/09',
                                        '05/09',
                                        '06/09'
                                    ],
                                    datasets: [{
                                        data: [
                                            15339,
                                            21345,
                                            18483,
                                            24003,
                                            23489,
                                            24092,
                                            12034,
                                            34534,
                                            5455,
                                            676,
                                            7879,
                                            809,
                                        ],
                                        label: "Autorizadas",
                                        lineTension: 0,
                                        backgroundColor: 'transparent',
                                        borderColor: '#007bff',
                                        borderWidth: 4,
                                        pointBackgroundColor: '#007bff'
                                    }, {
                                        data: [
                                            13978,
                                            2345,
                                            1483,
                                            2003,
                                            2389,
                                            242,
                                            12,
                                            612,
                                            812,
                                            192,
                                            102,
                                            0
                                        ],
                                        label: "Pendentes",
                                        lineTension: 0,
                                        backgroundColor: 'transparent',
                                        borderColor: '#ffff40',
                                        borderWidth: 4,
                                        pointBackgroundColor: '#ffff40'
                                    }, {
                                        data: [
                                            13,
                                            234,
                                            13,
                                            203,
                                            289,
                                            42,
                                            12,
                                            5151,
                                            554,
                                            4444,
                                            0
                                        ],
                                        label: "Canceladas",
                                        lineTension: 0,
                                        backgroundColor: 'transparent',
                                        borderColor: '#f34336',
                                        borderWidth: 4,
                                        pointBackgroundColor: '#f34336'
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: false
                                            }
                                        }]
                                    },
                                    legend: {
                                        display: false
                                    }
                                }
                            })

                        })()

                    }
                </script>