<%- include('./partials/head.ejs')%>

    <%- include('./partials/nav.ejs')%>


        <%- include('./partials/navegador.ejs')%>


            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group">
                        <div class="input-group-text">
                            <span data-feather="calendar"></span>
                        </div>
                        <select id="tipoConsulta" onchange="alteraInput()"
                            class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <option value="S">Semana</option>
                            <option value="M">Mês</option>
                            <option value="A"selected>Ano</option>
                        </select>
                       
                    </div>
                    <input type="date" class="btn btn-sm" onchange="alteraInput()" placeholder="Insira o ano, ex: 2022" value="2022-01-01" id="dataConsulta">
                </div>
            </div>

            <canvas class="my-4 w-100" id="dashboard" width="900" height="380"></canvas>
            
            <%- include('./partials/footer.ejs')%>
            
                <script>

                       

                    addEventListener(onload,alterarDashboard('A',"2022-01-01"))


                    function alterarDashboard(tipo,valor) {
                        var data = {
                            labels:[],
                            datasets:[
                                {
                                    data:[],
                                    label: "Autorizadas",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#007bff',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#007bff'
                                },
                                {
                                    data: [],
                                    label: "Pendentes",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#ffff40',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#ffff40'
                                },
                                {
                                    data: [],
                                    label: "Canceladas",
                                    lineTension: 0,
                                    backgroundColor: 'transparent',
                                    borderColor: '#f34336',
                                    borderWidth: 4,
                                    pointBackgroundColor: '#f34336'
                                }
                            ]
                        }

                        axios.get(`/relatorioVendas/${tipo}/${valor}`).then(resp =>{
                            if (resp.data.erro == undefined) {
                                var dados = resp.data.dados
                                for(var x= 0;x<dados.labels.length;x++){
                                    data.labels[x] = dados.labels[x]
                                }

                                data.labels.forEach(dataLabel =>{
                                    var autorizados = []
                                    var pendentes = []
                                    var rejeitados = []
                                    dados.autorizados.forEach(da =>{
                                        if (da.data == dataLabel) {
                                            autorizados.push(da)
                                        }
                                    })
                                    dados.pendentes.forEach(dp =>{
                                        if (dp.data == dataLabel) {
                                            pendentes.push(dp)
                                        }
                                    })
                                    dados.rejeitados.forEach(dr =>{
                                        if (dr.data == dataLabel) {
                                            rejeitados.push(dr)
                                        }
                                    })
                                    data.datasets[0].data.push(autorizados.length)
                                    data.datasets[1].data.push(pendentes.length)
                                    data.datasets[2].data.push(rejeitados.length)
                                })

                            } else {
                                alert(resp.data.erro)
                            }
                            dashBoard(data)
                        })
                           
                    }
                    var myChart;
                    function dashBoard(data) {
                            feather.replace({ 'aria-hidden': 'true' })
                            // Graphs
                            var ctx = document.getElementById('dashboard').getContext('2d')
                            // eslint-disable-next-line no-unused-vars
                            myChart = new Chart(ctx, {
                                type: 'line',
                                data: data,
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: false
                                            }
                                        }]
                                    },
                                    legend: {
                                        display: false
                                    }
                                }
                            })
                    }

                    
                    function alteraInput() {
                        var tipo = document.getElementById("tipoConsulta").value
                        var dataConsulta = document.getElementById("dataConsulta").value
                        myChart.destroy()
                        alterarDashboard(tipo,dataConsulta)
                    }

                </script>