<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    
            </div>
        </div>

        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>