<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <%- include('../../partials/navegador.ejs')%>
                    <div class="card">
                        <div class="card-header">
                            <h1>Listagem de Produtos</h1>
                            <p>Vizualize seus produtos </p>
                            <a href="" class="btn btn-primary">Adicionar novo</a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <table id="table" class="table">
                                <thead>
                                    <tr class="bg-primary text-white text-center">
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>
            <script src="/js/jquery.dataTables.min.js"></script>
            <script src="/js/dataTables.bootstrap5.min.js"></script>
            <script>$(document).ready(function() {
                $('#table').DataTable({
                    "info":false,
                    "language": {"lengthMenu":"Mostrar _MENU_ Linhas"}
                });
            } );</script>