<%- include('../../partials/head.ejs')%>

    <%- include('../../partials/nav.ejs')%>
        <br>
        <div class="container">

            <div class="card">

                <div class="card-header">
                    <h1>Cadastro de Categoria</h1>
                    <p>Cadastro de categoria é importante para organizar seu feed de produtos!</p>
                </div>
                <div class="card-body">

                    <form action="/categorias/salvar" method="POST" class="row g-3 needs-validation"
                        onsubmit="sub(event,this)" novalidate>

                        <label for="titulo" class="form-label">Titulo</label>
                        <input type="text" class="form-control" name="titulo" id="titulo"
                            placeholder="Informe aqui o titúlo da categoria" required>
                        <div class="valid-feedback">
                            Tudo ok!
                        </div>
                        <div class="invalid-feedback">
                            Esse campo é obrigatório
                        </div>

                        <label for="descricao" class="form-label">Descrição da categoria</label>
                        <textarea name="descricao" id="descricao" placeholder="Digite a descrição dessa categoria"
                            id="descricao" class="form-control"></textarea>
                        <div class="valid-feedback">
                            Esse campo não é obrigatório
                        </div>

                        <div class="col-md-3">
                            <label for="validationCustom04" class="form-label">Status</label>
                            <select class="form-select" name="status" id="validationCustom04" required>
                                <option value="true">Ativo</option>
                                <option value="false">Desativado</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>
                        <div class="col-md-3">

                            <label for="validationCustom05" class="form-label">Destaque</label>
                            <select class="form-select" name="destaque" id="validationCustom05" required>
                                <option value="true">Sim</option>
                                <option value="false">Não</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor, selecione!
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" id="buttom">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../../partials/footer.ejs')%>
            <script src="/js/sub.js"></script>