<%- include('../../partials/head.ejs')%>

  <%- include('../../partials/nav.ejs')%>
    <div class="container-fluid">
      <div class="row">
        <%- include('../../partials/navegador.ejs')%>
          <div class="card">
            <div class="card-header">
              <div class="row">
                <di class="col-md-2">
                  <div class="form-check mt-md-2">
                    <input class="form-check-input" checked type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Todos
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Autorizadas
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Pendentes
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                    <label class="form-check-label" for="flexRadioDefault2">
                      Rejeitadas
                    </label>
                  </div>

                </di>
                <div class="col-md-3">
                  <select name="" class="form-select mt-md-4" id="">
                    <option selected value="0">Todos Clientes</option>
                    <option value="">Davi</option>
                  </select>
                  <input type="number" class="form-control mt-1" name="" placeholder="ID Carrinho" id="">
                </div>
                <div class="col-md-3">
                  <input type="text" class="form-control mt-1" name="" placeholder="Codigo Venda" id="">
                  <input type="text" class="form-control mt-1" name="" placeholder="Codigo Pagamento" id="">
                  <input type="text" class="form-control mt-1" name="" placeholder="Codigo Entrega" id="">
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <div class="col-md-6">
                      <label class="form-label" for="flexRadioDefault2">Periodo Inicial
                        <input type="date" class="form-control" name="" id="">
                      </label>
                    </div>
                    <div class="col-md-6">
                      <label class="form-label" for="flexRadioDefault2">Periodo Final
                        <input type="date" class="form-control" name="" id="">
                      </label>
                    </div>
                  </div>
                  <button class="btn btn-success form-control mt-1 mt-md-3">Filtar</button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <%- include('../../partials/footer.ejs')%>